header{
    top: 0px;
    margin: 0px;
    width: 100%;
    background-color: turquoise;
    height: 80px;
}

body{
    background-color: black;
    background-image: url(images/hypnotize.png);

}

ul{
    position: absolute;
    top: 40px;
    right:500px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
    margin-right: 20px;
}

.footer{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: turquoise;
    height: 80px;
}

#headerblock{
    margin-left: 50px;
    padding: 20px;
    background-color: gray;
    width: 200px;
    height: 40px;
    text-align: center;

}

.wrapper{
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: gray;
    padding: 20px;
    
}
