
header{
    /* position: fixed; */
    top: 0px;
    margin: 0px auto 0px auto;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    height: 80px;
}


body{
    margin: auto;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/round.png);

}

a{
    text-decoration-line: none;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


a:hover{
    color: white;
    padding: 2px;
}

h1{
    color: #4aaaa5;
}
p{
    color: #777777;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    position: absolute;
    top: 40px;
    right:50px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
    margin-right: 20px;
    font-size: 15px;
}

img{
    float: left;
    width: 30%;
    height: 30%;
    padding: 20px;
}

#headerblock{
    float: left;
    margin-left: 50px;
    margin-top: 0px;
    width: 250px;
    height: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#text{
    height:200px;
    width: 955px;
}

#box1{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center;
    overflow: auto;
    width: 238px;
    height: 20px;
    margin-top: 230px;
    margin-left: 20px;
    padding: 25px;
}

#box2{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center;
    overflow: auto;
    width: 238px;
    height: 20px;
    margin-top: 230px;
    margin-left: 348px;
    padding: 25px;
}

#box3{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center;
    overflow: auto;
    width: 238px;
    height: 20px;
    margin-top: 558px;
    margin-left: 20px;
    padding: 25px;
}
#box4{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center;
    overflow: auto;
    width: 238px;
    height: 20px;
    margin-top: 558px;
    margin-left: 348px;
    padding: 25px;
}
#box5{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    text-align: center;
    overflow: auto;
    width: 238px;
    height: 20px;
    margin-top: 888px;
    margin-left: 20px;
    padding: 25px;
}
input[type="submit"]{
    background: #4aaaa5;
    color: white;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }

.butt{
    margin:4px;
    background-color: #4aaaa5;
}
.wrapper{
    overflow: auto;
    position: relative;
    width: 960px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border: solid 1px;
    border-color: #dddddd;
    padding: 20px;
    
}

.portfolioimg{
    margin: 25px;
    padding: 25px;
    border: 1px brown;
    float: left;
    width: 800px;
}


.footer,
.push{
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 60px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
}

.footer1,
.push{
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    margin-top:110px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
}

